<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionReaderService"
          class="ru.otus.homework.services.domainservices.QuestionReaderServiceImpl">
        <constructor-arg index="0" value="classpath:data/testQuestionsWithAnswers.csv"/>
    </bean>

    <bean id="consoleService"
          class="ru.otus.homework.services.applicationservices.ConsoleServiceImpl">
    </bean>

    <bean id="appStartService"
          class="ru.otus.homework.services.applicationservices.AppStartServiceImpl">
        <constructor-arg index="0" ref="questionReaderService"/>
        <constructor-arg index="1" ref="consoleService"/>
    </bean>

</beans>
